@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap");
.sortandsearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4%;
}

.sort-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.sort-container select {
  border-radius: 7px;
}

.add-new-shirt {
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 4%;
}

.wholeMain {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-container .shirtPhotos {
  width: 28vw;
}
.main-container .shirtPhotos img {
  width: 28vw;
}
.main-container .shirt-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.main-container .mainshirtnameprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.main-container .mainshirtnameprice h2 {
  font-weight: 300;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0%;
}
.main-container .admin-edit-delete-shirt {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container a {
  text-decoration: none;
}

.subShirtContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
.subShirtContainer img {
  width: 40vw;
}

.subshirtbacktomain {
  margin-top: 1%;
}

.grey-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 8.3%;
  padding: 7px 10px;
  font-size: 1.25rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #A3A3A3;
  border-color: #A3A3A3;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor: pointer;
}

.grey-button:hover {
  background-color: #C2C2C2;
  text-decoration: none;
  color: white;
}

.subshirtdetails {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 20%;
}
.subshirtdetails h1 {
  font-size: 4em;
  font-weight: 300;
  padding-left: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.subshirtdetails h4, .subshirtdetails h5 {
  font-size: 2em;
  font-weight: 300;
  padding-left: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.subshirtform {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  font-weight: 300;
}

.green-button {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
}

.mainaddbutton {
  padding: 14px 20px;
  font-size: 1.25rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor: pointer;
}

.mainaddbutton:hover {
  text-decoration: none;
  color: white;
  background-color: #107020;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 500;
}

p {
  margin: 20px 70px;
  max-width: 800px;
}

.about_main {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  color: #7192A3;
}
.about_main p {
  margin-top: 0px;
}

.about_main h1 {
  color: #002b45;
}

.about_background_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../components/images/about_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  display: flex;
  width: 90vw;
  min-height: 450px;
  overflow: auto;
  background-attachment: fixed;
  margin-top: 5%;
}
.about_background_image .about_left_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 600;
}
.about_background_image .about_right_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-weight: 600;
  font-size: 20px;
}

.image_container {
  display: flex;
  margin: 20px;
  width: 70vw;
  margin-top: 5%;
  margin-bottom: 5%;
}
.image_container img {
  width: 55%;
}

.about_left_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_main {
  background-color: #344a72;
  height: 100vh;
}

header {
  display: flex;
}

.loginHeaderLink {
  color: #767676;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 30px 10px;
}

.anotherLoginHeader {
  color: #767676;
  font-size: 32px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 500;
  line-height: 1.2;
}
.anotherLoginHeader:hover {
  color: #d3d3d3;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: white;
  min-height: 250px;
  width: 500px;
  padding: 20px 30px 40px;
}

.loginHeaderContainer {
  display: flex;
  justify-content: center;
  width: 380px;
  margin-bottom: 30px;
  border-bottom: 1.5px solid #1663be;
}

.outside-form-container {
  display: flex;
  height: 100vh;
}

#footer-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: #0c405f;
  color: white;
  display: flex;
  flex-direction: column;
}
#footer-container #BiggerSize {
  font-size: large;
}
#footer-container #copyright {
  background-color: #002134;
  text-align: center;
  padding: 20px;
}
#footer-container #block {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#footer-container a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
  border-left: 3px solid transparent;
  padding-left: 4px;
  transition: 0.3s;
}

#footer-container a:hover {
  color: rgba(255, 255, 255, 0.767);
  border-left: 3px solid white;
}

.navadminorusericon {
  display: flex;
  align-items: center;
}

.navbasket {
  display: flex;
  align-items: center;
}

.navbasket img {
  width: 50px;
}

#navigationbar-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0c405f;
  align-items: center;
}

#navigationbar-container a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 13px 15px;
  transition: 0.4s;
}

#navigationbar-container a:hover {
  color: rgba(255, 255, 255, 0.767);
  border-bottom: 3px solid white;
}

#navigationbar-container .splitL {
  display: flex;
  justify-content: space-evenly;
  width: 33.3vw;
  font-size: 16px;
}

#navigationbar-container .splitC {
  font-family: "Lora", serif;
  color: white;
  display: flex;
  justify-content: center;
  width: 33.3vw;
}

#navigationbar-container .splitR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 33.3vw;
}

.navsearchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navsearchbar .input {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navsearchbar input {
  border-radius: 7px;
  padding-left: 10px;
}

@media screen and (max-width: 1200px) {
  #navigationbar-container .splitL,
  .splitC,
  .splitR {
    display: inline-grid;
  }
}
/* Contact Page CSS */
.Contactpage {
  background-color: #efe6e6;
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 100px;
  text-align: center;
}

.contact h1 {
  font-size: 50px;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.contact p {
  font-size: 20px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.GetInTouchContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.GetInTouchContainer .TouchContainer {
  width: 50vw;
}

.GetInTouchContainer h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.GetInTouchContainer p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.GetInTouchContainer .FontIcon {
  margin: 10px;
  font-size: 20px;
}

.GetInTouchContainer .Icon {
  padding: 10px;
}

.fromContainer {
  background-color: #f0d6d6;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.fromContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer input,
.TextareaMessage textarea {
  margin: 10px 0;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  width: 20vw;
  height: 2.5vw;
  border-radius: 4px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.TextareaMessage {
  display: flex;
  justify-content: center;
}

.TextareaMessage textarea {
  height: 150px;
  resize: vertical;
}

.submit {
  justify-content: center;
  display: flex;
}

#input-submit {
  width: 15vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Map */
.map {
  margin-top: 50px;
  width: 100vw;
  border: 0;
  margin-bottom: 20px;
}

/*                        Cart                    */
.cart-container {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px 10vw;
}

.each-item-cart {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px white;
  padding: 20px;
}

.dropdown {
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.navbar .select-gender:hover,
.dropdown:hover .dropbtn {
  color: #767676;
}

/* Links inside the dropdown */
.dropdown-content {
  position: absolute; /* Position the dropdown absolutely */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content .select-gender {
  float: none;
  background-color: #0c405f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#select-container {
  display: none;
}

.guest-details {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.gsecond {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;
}

.gsecond input {
  display: flex;
  flex-direction: row;
}

.gthird {
  margin-bottom: 2%;
}

.pleasefillguest {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.each-item-cart img {
  width: 40vh;
  border-radius: 8px;
}

.photoanddetailsSC {
  display: flex;
}

.detailsShoppingCart {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.detailsShoppingCart select {
  border: none;
}
.detailsShoppingCart button {
  border-radius: 5px;
  border: none;
  color: black;
  background: white;
}
.detailsShoppingCart span {
  padding-left: 30%;
  padding-right: 30%;
}

.detailsShoppingCart h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 20%;
}

.detailsShoppingCart select {
  padding: 5%;
  margin-bottom: 20%;
}

.shoppingcartspan {
  display: flex;
  width: 10px;
  justify-content: center;
  font-size: 1.25em;
}

.shoppingcartshirtprice {
  font-size: 2em;
}

.buttonDivShoppingCart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20%;
}

.shoppingcartdeletebutton {
  width: 10vw;
}

.shoppingcartdeletebutton button {
  display: flex;
  color: white;
  font-size: 1.25em;
  background-color: #dc3545;
  border: none;
  border-radius: 10px;
  padding: 10%;
  margin-left: 25%;
}

.shoppingcartdeletebutton button:hover {
  background-color: #A82935;
}

.shoppingcarth2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: #7192A3;
  margin: 20px 0 20px 0;
}

.totalPriceShoppingCart {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
  margin-bottom: 5%;
}

.logoutButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.logoutbutton {
  padding: 12px 16px;
  font-size: 1rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor: pointer;
  background-color: #dc3545;
  border: none;
}

.logoutbutton:hover {
  background-color: #a01020;
}

/*********************** viewallusers page *********************/
.viewallusertable {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  color: white;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

.viewallusertable table {
  background-color: #7192A3;
  border-collapse: collapse;
  width: 90vw;
}

.viewallusertable th, td {
  border-bottom: 1px solid white;
}

.viewallusertable thead th,
.viewallusertable tbody td {
  padding: 1%;
  padding-left: 2%;
}

.viewallusertable tr {
  border-radius: 10px;
}

.viewallusertable tr:hover {
  background-color: #8FB9CF;
}

.purchasehistory {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 8.3%;
  padding: 7px 10px;
  font-size: 1.25rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #FFC439;
  margin-right: 10px;
  margin-left: 51.5%;
  text-decoration: none;
  cursor: pointer;
}

.purchasehistory:hover {
  text-decoration: none;
  background-color: #D1A12F;
  color: white;
}

input[type=text] {
  padding: 8px;
  margin-bottom: 10px;
  width: 20vw;
  margin-right: 10px;
}

select {
  padding: 8px;
  margin-bottom: 10px;
  width: 20vw;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 0.35em;
  background-color: #fff;
}

.sortAndFilterContainer {
  display: flex;
}

.FunctionContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 30px 0 20px 0;
}

/*********************** viewallusers page end *********************/
.userdashboardform {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biggestdashboard {
  color: white;
  background-color: #7192A3;
  padding: 0.5%;
  border-radius: 5px;
  display: flex;
}

.dashboardsavebutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding: 5%;
}

.dashboardsavebutton button {
  padding: 20%;
  font-size: 1.25em;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: #28a745;
}

.dashboardsavebutton button:hover {
  background-color: #107020;
}

.labelinputdiv label {
  margin-bottom: 0%;
  margin-top: 2%;
}

.dashboardimage {
  width: 50%;
  display: flex;
  justify-content: center;
}

.theotherhalfdashboard {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myphoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: thin solid #aaa;
  float: right;
  background-size: contain;
  margin-top: 5%;
  margin-right: 5%;
}

.purchasehistorydiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchasehistorydiv img {
  width: 200px;
  height: 200px;
}

.individualpurchasehistorydiv {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7192A3;
  color: white;
  padding: 1%;
  border-radius: 5px;
}

.tablediv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.firstdiv {
  display: flex;
}

.seconddiv {
  display: flex;
  flex-direction: column;
}

.thirddiv {
  display: flex;
}

.tablerowpurchasehistory {
  display: flex;
  flex-direction: row;
  width: 100%;
}/*# sourceMappingURL=style.css.map */