// *************main*********************
.wholeMain {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: row; //ycc added this
    justify-content: space-evenly; //horizontally
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;

    .shirtPhotos {
        width: 28vw;

        img {
            width: 28vw;
        }
    }

    .shirt-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .shirt-container .h2-text {
        padding: 0px;
        font-size: 30px;
    }

    .shirt-price {
        padding-bottom: 3px;
        text-align: center;
    }

    .admin-edit-delete-shirt {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 50%;
    }

    a {
        text-decoration: none;
    }
}


//subShirt
.subShirtContainer {
    display: flex;

    img {
        width: 50vw;
    }
}

//about

@mixin title($font-size: 32px, $font-weight: 500) {
    font-size: $font-size;
    text-align: center;
    padding: 20px 20px 10px;
    font-weight: $font-weight;
}



h1 {
    @include title(42px, 600);
}

h2 {
    @include title(32px, 500);
}

p {
    margin: 20px 70px;
    max-width: 800px;
}

.about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    color: #002b45;
    font-family: 'Poppins', sans-serif;

    p {
        margin-top: 0px;
    }
}

.about_background_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.8)), url("../components/images/about_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    width: 90vw;
    min-height: 450px;
    overflow: auto;
    background-attachment: fixed;


    .about_left_title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-weight: 600;
    }

    .about_right_text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        font-weight: 600;
        font-size: 20px;

    }

}

.image_container {
    display: flex;
    margin: 20px;
    width: 70vw;

    img {
        width: 55%;
    }
}

.about_left_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    p {
        margin-left: 0px;
    }

    h2 {
        padding-left: 0px;
    }
}

//login and sign up

.login_main {
    background-color: #344a72;
    height: 100vh;
}



header {
    display: flex;
}

.loginHeaderLink {
    color: #767676;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 30px 10px;
}

.anotherLoginHeader {
    color: #767676;
    @include title(32px, 500);
    line-height: 1.2;

    &:hover {
        color: #d3d3d3;
        text-decoration: none;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: white;
    min-height: 250px;
    width: 500px;
    padding: 20px 30px 40px;
}

.loginHeaderContainer {
    display: flex;
    justify-content: center;
    width: 380px;
    margin-bottom: 30px;
    border-bottom: 1.5px solid #1663be;
}

.outside-form-container {
    display: flex;
    height: 100vh;
}

//FOOTER AND NAVIGATION BAR
#footer-container {
    #BiggerSize {
        font-size: large;
    }

    #copyright {
        background-color: #002134;
        text-align: center;
        padding: 20px;
    }

    #block {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    background-color: #0c405f;
    color: white;
    display: flex;
    flex-direction: column;
}

#footer-container a {
    color: white;
    font-family: urw-din, sans-serif;
    font-weight: 400;
    text-decoration: none;
    border-left: 3px solid transparent;
    padding-left: 4px;
    transition: .3s;
}

#footer-container a:hover {
    color: rgba(255, 255, 255, 0.767);
    border-left: 3px solid white;
}

//NAVIGATION BAR
#navigationbar-container {
    // overflow: hidden; //when scrolled, wont see it
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0c405f;
    align-items: center;
}

#navigationbar-container a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 13px 15px; //padding is needed here too for the hover
    transition: .4s; //try add width if possible
}

//Nav Hover
#navigationbar-container a:hover {
    color: rgba(255, 255, 255, 0.767);
    border-bottom: 3px solid white;
}

#navigationbar-container .splitL {
    float: left;
    display: flex;
}

#navigationbar-container .splitC {
    float: center;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

#navigationbar-container .splitR {
    float: right;
}

#navigationbar-container,
.splitC,
.splitR {
    flex: 1;
    /* Add this line */
    text-align: center;
    padding: 11px 15px;
}

//Nav mobile version
@media screen and (max-width: 1200px) {

    #navigationbar-container .splitL,
    .splitC,
    .splitR {
        display: inline-grid;
    }
}


/*                Contact Page                */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap');

.Contactpage {
    background-color: #efe6e6;
    display: flex;
    flex-direction: column;
}

// .Nav{
//     display: flex;
//     justify-content: space-between;
//     padding: 30px 10px 0 20px;
// }

.contact {
    margin-top: 100px;
    text-align: center;

    h1 {
        font-size: 50px;
        text-decoration: underline;

        font-family: "Montserrat", sans-serif;
    }

    p {
        font-size: 20px;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

.GetInTouchContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
    }

    p {
        width: 420px;
        font-size: 12px;
        // margin: 5px 20px 0px 30px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: 300;
        font-weight: 400;
        font-style: normal;
    }

    .FontIcon {
        margin: 10px;
        font-size: 20px;
    }

    .Icon {
        padding: 10px;
    }
}

.fromContainer {
    background-color: #f0d6d6;
    width: 600px;
    display: flex;

    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: white;
        text-align: center;
    }
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 20px;

    input {
        display: block;
        width: 200px;
        margin: 20px;
    }
}

.map {
    margin-top: 50px;
    margin-left: 60px;
    border: 0;
}



/* form */
form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    // display: flex;
    // align-items: center;
    // flex-direction: row;

    input {
        border-radius: 2px;
        border: 0;
        padding: 1em;
        width: 100%;
        margin-top: 10px;
        // font-family: 'Merriweather', sans-serif;
        border: 1px solid #ccc;
        font-family: "Montserrat", sans-serif;
    }

    textarea {
        height: 126px;
        width: 300px;
        height: 190px;
        margin-top: 10px;
        border-radius: 4px;
        border: 2px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
        resize: none;
        font-family: "Montserrat", sans-serif;
    }
}

.ContainerInForm {
    display: flex;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}


.TextareaMessage {
    display: flex;
    margin-left: 70px
}

/* form end*/
/*                    Contact Page End                */
/*                        Cart                    */
.cart-container {
    background-color: #126291;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0px 10vw;
}

.each-item-cart {
    display: flex;
    justify-content: space-between;
    // border: solid 2px black;
    border-bottom: solid 1px white;
    padding: 20px;
}



// .splitL .dropdown {
//     position: relative;
//     display: inline-block;
// }

// .splitL .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #0c405f;
//     min-width: 160px;
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//     z-index: 1;
// }

// .splitL .dropdown:hover .dropdown-content {
//     display: block;
// }
.dropdown {
    // position: absolute;
    position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

//   /* Add a red background color to navbar links on hover */
.navbar .select-gender:hover,
.dropdown:hover .dropbtn {
    color:#767676;
}


/* Links inside the dropdown */
.dropdown-content {
    position: absolute; /* Position the dropdown absolutely */
    // top: 100%; /* Position it below the dropdown */
    // left: 0;
    // position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .select-gender {
    float: none;
    background-color: #0c405f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

//   /* Add a grey background color to dropdown links on hover */
// .dropdown-content .select-gender:hover {
//     background-color: #;
// }

#select-container {
    display: none;
}

//SHOPPINGCART

.each-item-cart img{
    width: 40vh;
    border-radius: 8px;
}

.photoanddetailsSC {
    display: flex;
}

.detailsShoppingCart{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    select{
        border-radius: 10px;
    }
    button{
        border-radius: 10px;
    }
    span{
        padding-left:2%;
        padding-right:2%;
    }
}

.buttonDivShoppingCart{
    display: flex;
}
.shoppingcartdeletebutton button {
    color : white;
    background-color: red;
}
.shoppingcarth2 {
    font-size: 2.5em;
    color: #0C405F;
}
