.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-container .shirtPhotos {
  width: 28vw;
}
.main-container .shirtPhotos img {
  width: 28vw;
}

.subShirtContainer {
  display: flex;
}
.subShirtContainer img {
  width: 50vw;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 500;
}

p {
  margin: 20px 70px;
  max-width: 800px;
}

.about_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  color: #002b45;
  font-family: "Poppins", sans-serif;
}
.about_main p {
  margin-top: 0px;
}

.about_background_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../components/images/about_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  display: flex;
  width: 90vw;
  min-height: 450px;
  overflow: auto;
  background-attachment: fixed;
}
.about_background_image .about_left_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 600;
}
.about_background_image .about_right_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-weight: 600;
  font-size: 20px;
}

.image_container {
  display: flex;
  margin: 20px;
  width: 70vw;
}
.image_container img {
  width: 55%;
}

.about_left_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about_left_text p {
  margin-left: 0px;
}
.about_left_text h2 {
  padding-left: 0px;
}

.login_main {
  background-color: #344a72;
  height: 100vh;
}

header {
  display: flex;
}

.loginHeaderLink {
  color: #767676;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 30px 10px;
}

.anotherLoginHeader {
  color: #767676;
  font-size: 32px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: 500;
  line-height: 1.2;
}
.anotherLoginHeader:hover {
  color: #d3d3d3;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: white;
  min-height: 250px;
  width: 500px;
  padding: 20px 30px 40px;
}

.loginHeaderContainer {
  display: flex;
  justify-content: center;
  width: 380px;
  margin-bottom: 30px;
  border-bottom: 1.5px solid #1663be;
}

.outside-form-container {
  display: flex;
  height: 100vh;
}

#footer-container {
  background-color: #0c405f;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#footer-container #BiggerSize {
  font-size: large;
}
#footer-container #copyright {
  background-color: #002134;
  text-align: center;
  padding: 20px;
}
#footer-container #block {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#footer-container a {
  color: white;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-left: 3px solid transparent;
  padding-left: 4px;
  transition: 0.3s;
}

#footer-container a:hover {
  color: rgba(255, 255, 255, 0.767);
  border-left: 3px solid white;
}

#navigationbar-container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #0c405f;
  align-items: center;
}

#navigationbar-container a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 13px 15px;
  transition: 0.4s;
}

#navigationbar-container a:hover {
  color: rgba(255, 255, 255, 0.767);
  border-bottom: 3px solid white;
}

#navigationbar-container .splitL {
  float: left;
}

#navigationbar-container .splitC {
  float: center;
}

#navigationbar-container .splitR {
  float: right;
}

#navigationbar-container .splitL, .splitC, .splitR {
  flex: 1; /* Add this line */
  text-align: center;
  padding: 13px 15px;
}/*# sourceMappingURL=style.css.map */